.loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader {
   border: 5px solidrgb(230, 223, 223); /* Off-white */
   border-top: 5px solid #419cd6; /* Light blue */
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}